
:root{
    --backgroundMain: #1C1B1F;
    /* --backContainer: #4A4458 ; */
    --backContainer: #332D41;
    /* --backContainerSecond: #332D41; */
    --backContainerSecond: #2b2636;
    --backHoverBtn: #9A82DB ;
    --textDark: #FFFFFF ;
    
    --divColorInput: #000000;
    --divColorInput2: #3f3852;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Regular', sans-serif;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./font/Roboto-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}


body{

    background-color: var(--backgroundMain);

    display: grid;

    grid-template-columns: 20% 80% ;

    padding: 90px 0 0 0;
}

p{
    color: #FFFFFF;
}

.miniP{

    position: absolute;

    top: 30px;
    left: 30px;

    background-image: url('./imgs/gohan.png');

    width: 50px;
    height: 50px;

    border-radius: 50px;

    background-position: center;
    background-size: cover;
    
}

.containerTodoLeft{

    position: relative;
    padding: 0 0 0 30px;

}

.ptodo{

    user-select: none;

}

.containerProjects{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    margin: 0 0 12px 0;
    padding: 12px 0;

    border-radius: 16px;
    padding: 12px;
    background-color: var(--backContainer);
    width: 50px;


}

.itemProject{

    background-color: #25A7B9;

    width: 25px;
    height: 25px;

    border-radius: 50px;
    cursor: pointer;
    opacity: 0;

    outline: 0px solid rgba(168, 199, 250, 0.3);

}

.titleProjects{

    color: #FFFFFF;

    font-size: 1.5rem;

    margin: 0 0 12px 0;
}

.btnNewProject{

    display: grid;
    place-content: center;


    border-radius: 16px;

    width: 50px;
    height: 30px;

    cursor: pointer;
}

.containerTodayAndWeek{

    display: grid;
    place-content: center;
    gap: 12px;

    margin: 30px 0 0 0;
    padding: 12px 0;

    background-color: var(--backContainer);

    border-radius: 16px;

    width: 50px;
}

.itemSvg{
    cursor: pointer;
}

.containerNewProject{

    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 250px;

    position: absolute;

    top: 40px;
    left: 107px;

    background-color: var(--backContainer);

    border-radius: 16px;

    padding: 12px;
}

.btnClosePopUp,.btnClosePopUpTodo,.btnCloseTodayAndWeek{

    position:absolute;

    top: 10px;
    right: 10px;

    cursor: pointer;

    padding: 5px;
    border-radius: 5px;

    display: grid;
    place-content: center;



}

.btnCreateProject{

    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 40px;
    height: 20px;

    border-radius: 16px;

    cursor: pointer;
}

.btnCreateProject:hover{

    background-color: var(--backContainerSecond);
}

.containerInputText{

    display: flex;
    gap: 12px;
    border-radius: 16px;

    height: 30px;
}

.inputText{

    width: 85%;
    height: 100%;

    background-color: var(--backContainerSecond);

    border: none;

    border-radius: 16px;

    padding: 0 0 0 12px;

    outline: none;
}

.containerInputColor{

    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--divColorInput);
}

.inputColor{

    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    opacity: 0;
}

/* ---------------------------------------------------------------------------------- */

.containerTodoCenter{
    z-index: 1;
    flex: 0 1 900px;
}

.titleTodoProject{
    font-size: 1.5rem;
    margin: 0 0 12px 0;
    user-select: none;
}

.outer{

    overflow: hidden;
    border-radius: 16px;

}

.outerTW{

    overflow: hidden;
    border-radius: 16px;

}

.containerTodo{
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 20px;

    background-color: var(--backContainer);
    border-radius: 16px;

    height: 700px;

    padding: 30px ;

    overflow-y: auto;
    overflow-x: hidden;
}

.todoStyle{

    display: flex;
    align-items: center;
    gap: 12px;


    padding: 12px ;

    background-color: var(--backContainerSecond);

    border-radius: 16px;
    opacity: 0;
}

.svgTodo{

    display: flex;
    align-items: center;
    
    cursor: pointer;
}

.svgTodoPriority{

    display: grid;
    place-content: center;

    cursor: pointer;
}

.TW > .svgTodoMenu {

    opacity: 0;
}

.svgTodoMenu{

    margin-left: auto;

    display: grid;
    place-content: center;

    cursor: pointer;

    border-radius: 5px;
}


.btnNewTodo{

    position: fixed;
    
    justify-self: center;
    align-self: flex-end;


    display: grid;
    place-content: center;

    background-color: var(--backContainerSecond);

    border-radius: 16px;

    width: 50px;
    height: 30px;

    cursor: pointer;

    z-index: 2;

    box-shadow: 0px 0px 30px #2b2636;

}

/* -------------------------------------------------------------- */

.containerCenterRight{

    display: flex;
    gap: 30px;
    margin: 0 30px 0 0;
}


/* ------------------------------------------------------------- */

.titleTodoDay{
    font-size: 1.5rem;
    margin: 0 0 12px 0;
}

.containerTodoDay{

    background-color: var(--backContainer);

    border-radius: 16px;

    width: 300px;
    height: 700px;

    padding: 30px ;
}

.itemTodoDay1{

    display: flex;
    align-items: center;
    gap: 12px;


    padding: 12px ;

    background-color: var(--backContainerSecond);

    border-radius: 16px;
}


/* ----------------------------------------------------------- */

.containerPopUpNewTodo{

    position: absolute;

    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 30px;

    background-color: var(--backContainer);

    box-shadow: 0px 0px 40px #2b2636;

    border-radius: 16px;
    
    width: 400px;

    z-index: 1;
}

.name{

    width: 100%;
    height: 30px;
}

.description{
    width: 100%;
    height: 120px;
    
    
    background-color: var(--backContainerSecond);

    padding: 12px;

    border-radius: 16px;

    border: none;
    outline: none;

    resize: none;
}

.containerInputDate{

    width: 100%;
}

.input{

    background-color: var(--backContainerSecond);

    height: 40px;

    padding: 12px;

    border-radius: 16px;

    border: none;
    outline: none;

}

.titleNewTodoName, .titleNewTodoDescription{

    user-select: none;
}

.containerName, .containerDescription{

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btnCreateTodo{

    align-self: center;

    display: grid;
    place-items: center;

    border-radius: 16px;

    width: 50px;
    height: 30px;

    cursor: pointer;
}

.btnCreateTodo:hover{
    background-color: var(--backContainerSecond);
}

.containerTextAndPriority{

    display: flex;
    

    gap: 30px;

}

.containerPriority{

    justify-self: end;

    position: relative;

    display: grid;
    place-items: center;

    background-color: var(--backContainerSecond);

    border: none;
    outline: none;

    border-radius: 16px;

    width: 40px;
    height: 40px;

    cursor: pointer;
}

.dropDown{

    position:absolute;

    bottom: -30px;

    display: flex;

    gap: 7px;
}

.itemDd{



    display: grid;
    place-items: center;

    width: 25px;
    height: 25px;

    border-radius: 5px;

    background-color: var(--backContainerSecond);
    
    cursor: pointer;
}

.containerTextTodoName{

    flex-grow: 2;
}

circle,svg{

    pointer-events: none;
}

.ddOp1,.ddOp3{

    position: relative;

    top: -8px;

}

.ddOp1,.ddOp2,.ddOp3{

    opacity: 0;
    scale: .8;
}

.containerMenuTodo{

    position: absolute;
    right: -120px;

    display: flex;
    gap: 13px;

    background-color: var(--backContainerSecond);
    padding: 13px;

    border-radius: 16px;
    z-index: 1;
}

.containerSvgEdit{
    
    border-radius: 5px;
    display: grid;
    place-content: center;
    padding: 4px;

    cursor: pointer;

}

.containerSvgDelete{

    border-radius: 5px;
    display: grid;
    place-content: center;
    padding: 5px;

    cursor: pointer;


}

.containerTodoEdit{

    position: absolute;

    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: column;
    gap: 30px;

    background-color: var(--backContainer);
    box-shadow: 0px 0px 40px #2b2636;
    padding: 30px;

    border-radius: 16px;
    z-index: 1;

}

.containerEditName,.containerEditDescription{

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.editName{

    background-color: var(--backContainerSecond);
    width: 100%;

}

.editDescription{

    background-color: var(--backContainerSecond);
    border-radius: 16px;
    outline: none;
    border: none;
}

.containerEditDateAndPriority{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editDate{

    background-color: var(--backContainerSecond);

}

.containerTodoEditPriority{

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--backContainerSecond);
    border-radius: 16px;

    padding: 15px;
    cursor: pointer;

}

.containerBtnsCancelSave{

    display: flex;
    justify-content: center;
    gap: 30px;

    color: var(--textDark);
}

.containerBtnCancel{

    display: grid;
    place-items: center;

    background-color: var(--backContainerSecond);
    padding: 5px 0 ;
    width: 100px;

    border-radius: 12px;

    user-select: none;
    cursor: pointer;

}

.containerBtnSave{

    display: grid;
    place-items: center;

    background-color: var(--backContainerSecond);
    padding: 5px 0;
    width: 100px;


    border-radius: 12px;

    user-select: none;
    cursor: pointer;

}

.editDescription{

    height: 120px;

    background-color: var(--backContainerSecond);

    padding: 12px;

    border-radius: 16px;

    border: none;
    outline: none;

    resize: none;
}

.editDropDown{

    bottom: -35px;
}

.editDropDown > :nth-child(1){

    background-color: var(--backContainerSecond);
    filter: inherit;
    
}
.editDropDown > :nth-child(2){

    background-color: var(--backContainerSecond);
    filter: inherit;
    
}
.editDropDown > :nth-child(3){

    background-color: var(--backContainerSecond);
    filter: inherit;
    
}

.containerDeleteConfirmation{

    position: absolute;
    
    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background-color: var(--backContainerSecond);
    border-radius: 16px;
    padding: 30px 40px;
    z-index: 1;


}

.btnDel{

    display: grid;
    place-items: center;

    background-color: var(--backContainer);
    border-radius: 12px;
    padding: 5px 0;
    color: var(--textDark);
    width: 100px;

}

.containerBtns{

    display: flex;
    gap: 20px;
    user-select: none;

}

.containerBtns > :nth-child(1){

    background-color:#44445C;
}
.containerBtns > :nth-child(2){

    background-color:rgba(179, 38, 30, 0.4);
    cursor: pointer;
}

.titleDelConfirmation{

    font-size: 1.4rem;
    
}

/* ----------------------------------------------------------- */

.containerTodosTodayAndWeek{

    flex: 0 2 400px;

    
}

.todosTodayAndWeek{

    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 700px;

    background-color: var(--backContainer);
    border-radius: 16px;
    padding: 30px;

    overflow-y: auto;
}

.titleTodayAndWeek{

    font-size: 1.5rem;
    margin: 0 0 12px 0;
}

/* ----------------------------------------------------------- */

.tippy-box[data-theme~='dark-project'] {
    background-color: #332D41;
    color: #E6E1E5;
    border-radius: 16px;
    padding: 5px 20px;
    margin: 10px;
}

.tippy-box[data-theme~='dark-todo'] {
    font-size: .8rem;
    background-color: #332D41;
    color: #E6E1E5;
    border-radius: 16px;
    padding: 5px 20px;
    box-shadow: 0 0 5px 5px #2b2636;
}

/* ----------------------------------------------------------- */

.testMorphing{

    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    transform: scale(6);

    cursor: pointer;

}

.ghost > path{

    stroke: transparent;
}

.svgTodo{

    display: grid;
    place-items: center;

    width: 24px;
    height: 24px;
}
.containerSvgDone{

    width: 24px;
    height: 24px;
}
.containerSvgNotDone{
    display: grid;
    place-items: center;

    width: 24px;
    height: 24px;
}

.pTodoDone{

    opacity: .5;
}

/* ----------------------------------------------------------- */

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--backContainer);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--backContainerSecond);
    border-radius: 16px;
  }

  ::-webkit-scrollbar-track-piece{

    border-radius: 16px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  /* ----------------------------------------------------------- */

  .containerLeftMobile{
    
    position: fixed;
    bottom: 0px;

    width: 100%;

    display: flex;
    gap: 40px;
    justify-content: center;


    height: 60px;
  }

  .containerProjectsM{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    /* cursor: pointer; */

  }
  .containerTodayM{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    /* cursor: pointer; */

  }
  .containerWeekM{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    /* cursor: pointer; */

  }
  .titleProjectsM{
    color: #FFFFFF;
  }
  .titleTodayM{
    color: #FFFFFF;

  }
  .titleWeekM{
    color: #FFFFFF;

  }

  /* ----------------------------------------------------------- */

  .containerProjectsMobile{

    position: absolute;
    /* bottom: 50px; */
    width: 120px;
    height: 185px;

    display: grid;
    grid-template-rows: 80% 20%;

    border-radius: 16px;
    background-color: var(--backContainerSecond);

    z-index: 2;

    opacity: 0;

  }

  .itemProjectM{

    display: flex;
    align-items: center;

    gap: 12px;

    padding: 0 0 0 12px;
    height: 30px;



  }

  .colorItemProject{

    width: 25px;
    height: 25px;

    border-radius: 50px;

    user-select: none;

  }

  .titleProjectMobile{

    user-select: none;
  }

  .btnNewProjectM{

    display: grid;
    place-items: center;

    height: 100%;
  }

  .containerNewProjectM{

    align-self: center;
    justify-self: center;

    position: absolute;

    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 250px;

    background-color: var(--backContainer);

    border-radius: 16px;

    padding: 12px;

    z-index: 3;

  }

  .containerTodosTodayAndWeekM{

    position: absolute;

    width: 90%;
    margin: 0 30px 0 30px;
    
  }

  .containerProjectsM{

    width: 60px;
    height: 60px;

  }

  .containerTodayM{
    
    width: 60px;
    height: 60px;
  }

  .containerWeekM{
    
    width: 60px;
    height: 60px;

  }

  .containerNewProjectM{

    box-shadow: 0px 0px 20px #2b2636;

  }

  .containerSvgToday{

    display: grid;
    place-content: center;
    width: 50px;
    height: 28px;
    border-radius: 16px;

    transition: all .15s ease-in-out;

  }

  .containerSvgWeek{

    display: grid;
    place-content: center;
    width: 50px;
    height: 28px;
    border-radius: 16px;

    transition: all .15s ease-in-out;

  }

  .containerSvgFolder{
    display: grid;
    place-content: center;
    height: 28px;
  }

  .outerM{

    height: 100%;
    overflow: hidden;
    /* border-radius: 16px; */
    border-radius: 0 16px 0 0 ;
    

  }

  .containerItemsProjects{

    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    overflow: auto;
    padding: 5px 0 0 0;
    
  }

  /* ----------------------------------------------------------- */

  .svgBackToProjects{

    /* position: absolute; */
    /* bottom: 90px; */

    width: 40px;
    height: 40px;
    background-color: hsla(258, 18%, 22%, 0.70);


    padding: 8px;
    border-radius: 10px;

    justify-self: center;
    margin: auto;
  }

  /* ----------------------------------------------------------- */

  @media screen and (max-width: 912px){

    .containerTodoLeft{
        display: none;

    }

    body{
        grid-template-columns: 100%;
        grid-template-rows: 90% 10%;
        height: 100vh;
    }


    .containerCenterRight{

        margin:0px ;
        height: 100%;
        width: 90%;
        justify-self: center;
    }

    .containerTodoCenter{

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

    }

    .outer{
        height: 100%;
    }

    .containerTodo{

        height: 100%;
    }

    .containerMenuTodo{

        right: -5px;
        top: -114px;
        flex-direction: column;

    }

    .containerTodosTodayAndWeekM{
        display: flex;
        flex-direction: column; 
        gap: 12px;
        margin: 0px;
        justify-self: center;
    }
    .outerTW{
        height: 100%;
    }

    

    .titleProjectMobile{ 

        overflow-x: clip;
        text-overflow: ellipsis;
        flex-shrink: 50;
    }

    .containerItemsProjects{

        padding: 12px 0 12px 0;
    }

    .todosTodayAndWeek{

        height: 100%;
    }

    .titleTodayAndWeek{
        margin: 0;
    }

    .svgTodoPriority{

        cursor:none;
        width: 20px;
        height: 20px;
    }

  }

  @media screen and (max-width: 648px){

    .outerTW{
        height: 88%;
    }

    .containerPopUpNewTodo{

        width: 95%;
    }

    .containerTodoEdit{
        width: 95%;

    }

    .editDescription{

        width: 100%;
    }
  }