
:root{
    --backgroundMain: #1C1B1F;
    --backContainer: #4A4458 ;
    --backContainerSecond: #332D41;
    --backHoverBtn: #9A82DB ;
    --textDark: #FFFFFF ;
    
    --divColorInput: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Regular', sans-serif;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./font/Roboto-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}


body{

    background-color: var(--backgroundMain);

    display: grid;

    grid-template-columns: 20% 80% ;

    padding: 90px 0 0 0;
}

p{
    color: #FFFFFF;
}

.miniP{

    position: absolute;

    top: 30px;
    left: 30px;

    background-image: url('./imgs/gohan.png');

    width: 50px;
    height: 50px;

    border-radius: 50px;

    background-position: center;
    background-size: cover;
}

.containerTodoLeft{

    /* border: solid 2px green; */
    position: relative;
    padding: 0 0 0 30px;

}

.containerProjects{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    margin: 0 0 12px 0;
    padding: 12px 0;

    border-radius: 16px;
    padding: 12px;
    background-color: var(--backContainer);
    width: 50px;

    /* border: solid 2px green; */
}

.itemProject{

    background-color: #25A7B9;

    width: 25px;
    height: 25px;

    border-radius: 50px;
    cursor: pointer;
}

.titleProjects{

    color: #FFFFFF;

    font-size: 1.5rem;

    margin: 0 0 12px 0;
}

.btnNewProject{

    display: grid;
    place-content: center;

    /* background-color: var(--backContainer); */

    border-radius: 16px;

    width: 50px;
    height: 30px;

    cursor: pointer;
}

.btnNewProject:hover{

    background-color: var(--backContainer);
}

.containerTodayAndWeek{

    display: grid;
    place-content: center;
    gap: 12px;

    margin: 30px 0 0 0;
    padding: 12px 0;

    background-color: var(--backContainer);

    border-radius: 16px;

    width: 50px;
}

.itemSvg{
    cursor: pointer;
}

.containerNewProject{

    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 250px;

    position: absolute;

    top: 40px;
    left: 107px;

    background-color: var(--backContainer);

    border-radius: 16px;

    padding: 12px;
}

.btnClosePopUp{

    position:absolute;

    top: 10px;
    right: 10px;

    cursor: pointer;
}

.btnCreateProject{

    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: var(--backContainerSecond); */

    width: 40px;
    height: 20px;

    border-radius: 16px;

    cursor: pointer;
}

.btnCreateProject:hover{

    background-color: var(--backContainerSecond);
}

.containerInputText{

    display: flex;
    gap: 12px;
    border-radius: 16px;
    /* background-color: var(--backContainerSecond); */

    height: 30px;
}

.inputText{

    width: 85%;
    height: 100%;

    background-color: var(--backContainerSecond);

    border: none;

    border-radius: 16px;

    padding: 0 0 0 12px;

    outline: none;
}

.containerInputColor{

    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--divColorInput);
}

.inputColor{

    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    opacity: 0;
}
/* 
.item2{
    outline: solid 3px #fff;
} */

/* ---------------------------------------------------------------------------------- */

/* .containerTodoCenter{

} */

.titleTodoProject{
    font-size: 1.5rem;
    margin: 0 0 12px 0;
}

.containerTodo{
    position: relative;

    /* display: flex;
    flex-direction: column; */

    background-color: var(--backContainer);
    border-radius: 16px;

    width: 900px;
    height: 700px;

    padding: 30px ;
}

.itemTodo1{

    display: flex;
    align-items: center;
    gap: 12px;


    padding: 12px ;

    background-color: var(--backContainerSecond);

    border-radius: 16px;
}

.svgTodo{

    display: flex;
    align-items: center;
    
    cursor: pointer;
}

.btnNewTodo{

    position: absolute;

    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    
    display: grid;
    place-content: center;

    /* background-color: var(--backContainerSecond); */

    border-radius: 16px;

    width: 50px;
    height: 30px;

    cursor: pointer;


}

.btnNewTodo:hover{

    background-color: var(--backContainerSecond);
}

/* -------------------------------------------------------------- */

.containerCenterRight{

    display: flex;
    gap: 30px;
    /* justify-content: center; */
}


/* ------------------------------------------------------------- */

.titleTodoDay{
    font-size: 1.5rem;
    margin: 0 0 12px 0;
}

/* .containerTodoRight{



} */

.containerTodoDay{

    background-color: var(--backContainer);

    border-radius: 16px;

    width: 300px;
    height: 700px;

    padding: 30px ;
}

.itemTodoDay1{

    display: flex;
    align-items: center;
    gap: 12px;


    padding: 12px ;

    background-color: var(--backContainerSecond);

    border-radius: 16px;
}


/* ----------------------------------------------------------- */

.containerPopUpNewTodo{

    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 30px;

    background-color: var(--backContainer);

    box-shadow: 0px 0px 50px #000000;

    border-radius: 16px;
    
    width: 400px;

}

.name{

    width: 100%;
    height: 30px;
}

.description{
    width: 100%;
    height: 120px;
    
    
    background-color: var(--backContainerSecond);

    padding: 12px;

    border-radius: 16px;

    border: none;
    outline: none;

    resize: none;
}

.containerInputDate{

    width: 100%;
}

.input{

    background-color: var(--backContainerSecond);

    height: 40px;

    padding: 12px;

    border-radius: 16px;

    border: none;
    outline: none;

}

.containerName, .containerDescription{

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btnCreateTodo{

    align-self: center;

    display: grid;
    place-items: center;

    border-radius: 16px;

    width: 50px;
    height: 30px;

    cursor: pointer;
}

.btnCreateTodo:hover{
    background-color: var(--backContainerSecond);
}