
:root{
    --backgroundMain: #1C1B1F;
    /* --backContainer: #4A4458 ; */
    --backContainer: #332D41;
    /* --backContainerSecond: #332D41; */
    --backContainerSecond: #2b2636;
    --backHoverBtn: #9A82DB ;
    --textDark: #FFFFFF ;
    
    --divColorInput: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Regular', sans-serif;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./font/Roboto-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}


body{

    background-color: var(--backgroundMain);

    display: grid;

    grid-template-columns: 20% 80% ;

    padding: 90px 0 0 0;
}

p{
    color: #FFFFFF;
}

.miniP{

    position: absolute;

    top: 30px;
    left: 30px;

    background-image: url('./imgs/gohan.png');

    width: 50px;
    height: 50px;

    border-radius: 50px;

    background-position: center;
    background-size: cover;
}

.containerTodoLeft{

    /* border: solid 2px green; */
    position: relative;
    padding: 0 0 0 30px;

}

.containerProjects{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    margin: 0 0 12px 0;
    padding: 12px 0;

    border-radius: 16px;
    padding: 12px;
    background-color: var(--backContainer);
    width: 50px;

    /* border: solid 2px green; */
}

.itemProject{

    background-color: #25A7B9;

    width: 25px;
    height: 25px;

    border-radius: 50px;
    cursor: pointer;
}

.titleProjects{

    color: #FFFFFF;

    font-size: 1.5rem;

    margin: 0 0 12px 0;
}

.btnNewProject{

    display: grid;
    place-content: center;

    /* background-color: var(--backContainer); */

    border-radius: 16px;

    width: 50px;
    height: 30px;

    cursor: pointer;
}

.btnNewProject:hover{

    background-color: var(--backContainer);
}

.containerTodayAndWeek{

    display: grid;
    place-content: center;
    gap: 12px;

    margin: 30px 0 0 0;
    padding: 12px 0;

    background-color: var(--backContainer);

    border-radius: 16px;

    width: 50px;
}

.itemSvg{
    cursor: pointer;
}

.containerNewProject{

    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 250px;

    position: absolute;

    top: 40px;
    left: 107px;

    background-color: var(--backContainer);

    border-radius: 16px;

    padding: 12px;
}

.btnClosePopUp,.btnClosePopUpTodo{

    position:absolute;

    top: 10px;
    right: 10px;

    cursor: pointer;
}

.btnCreateProject{

    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: var(--backContainerSecond); */

    width: 40px;
    height: 20px;

    border-radius: 16px;

    cursor: pointer;
}

.btnCreateProject:hover{

    background-color: var(--backContainerSecond);
}

.containerInputText{

    display: flex;
    gap: 12px;
    border-radius: 16px;
    /* background-color: var(--backContainerSecond); */

    height: 30px;
}

.inputText{

    width: 85%;
    height: 100%;

    background-color: var(--backContainerSecond);

    border: none;

    border-radius: 16px;

    padding: 0 0 0 12px;

    outline: none;
}

.containerInputColor{

    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--divColorInput);
}

.inputColor{

    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    opacity: 0;
}
/* 
.item2{
    outline: solid 3px #fff;
} */

/* ---------------------------------------------------------------------------------- */

/* .containerTodoCenter{

} */

.titleTodoProject{
    font-size: 1.5rem;
    margin: 0 0 12px 0;
}

.containerTodo{
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;


    background-color: var(--backContainer);
    border-radius: 16px;

    width: 900px;
    height: 700px;

    padding: 30px ;
}

.todoStyle{

    display: flex;
    align-items: center;
    gap: 12px;


    padding: 12px ;

    background-color: var(--backContainerSecond);

    border-radius: 16px;
}

.svgTodo{

    display: flex;
    align-items: center;
    
    cursor: pointer;
}

.svgTodoPriority{

    display: grid;
    place-content: center;

    cursor: pointer;
}

.svgTodoMenu{

    /* justify-self: flex-end; */
    /* align-self: flex-end; */

    margin-left: auto;

    display: grid;
    place-content: center;

    cursor: pointer;


}


.btnNewTodo{

    position: absolute;

    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    
    display: grid;
    place-content: center;

    /* background-color: var(--backContainerSecond); */

    border-radius: 16px;

    width: 50px;
    height: 30px;

    cursor: pointer;


}

.btnNewTodo:hover{

    background-color: var(--backContainerSecond);
}

/* -------------------------------------------------------------- */

.containerCenterRight{

    display: flex;
    gap: 30px;
    /* justify-content: center; */
}


/* ------------------------------------------------------------- */

.titleTodoDay{
    font-size: 1.5rem;
    margin: 0 0 12px 0;
}

/* .containerTodoRight{



} */

.containerTodoDay{

    background-color: var(--backContainer);

    border-radius: 16px;

    width: 300px;
    height: 700px;

    padding: 30px ;
}

.itemTodoDay1{

    display: flex;
    align-items: center;
    gap: 12px;


    padding: 12px ;

    background-color: var(--backContainerSecond);

    border-radius: 16px;
}


/* ----------------------------------------------------------- */

.containerPopUpNewTodo{

    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 30px;

    background-color: var(--backContainer);

    box-shadow: 0px 0px 50px #000000;

    border-radius: 16px;
    
    width: 400px;

}

.name{

    width: 100%;
    height: 30px;
}

.description{
    width: 100%;
    height: 120px;
    
    
    background-color: var(--backContainerSecond);

    padding: 12px;

    border-radius: 16px;

    border: none;
    outline: none;

    resize: none;
}

.containerInputDate{

    width: 100%;
}

.input{

    background-color: var(--backContainerSecond);

    height: 40px;

    padding: 12px;

    border-radius: 16px;

    border: none;
    outline: none;

}

.titleNewTodoName, .titleNewTodoDescription{

    user-select: none;
}

.containerName, .containerDescription{

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btnCreateTodo{

    align-self: center;

    display: grid;
    place-items: center;

    border-radius: 16px;

    width: 50px;
    height: 30px;

    cursor: pointer;
}

.btnCreateTodo:hover{
    background-color: var(--backContainerSecond);
}

.containerTextAndPriority{

    display: flex;
    

    gap: 30px;

}

.containerPriority{

    justify-self: end;

    position: relative;

    display: grid;
    place-items: center;

    background-color: var(--backContainerSecond);

    border: none;
    outline: none;

    border-radius: 16px;

    width: 40px;
    height: 40px;

    cursor: pointer;
}

.dropDown{

    position:absolute;

    bottom: -30px;

    display: flex;

    gap: 7px;
}

.itemDd{



    display: grid;
    place-items: center;

    width: 25px;
    height: 25px;

    border-radius: 5px;

    background-color: var(--backContainerSecond);
    
    cursor: pointer;
}

.containerTextTodoName{

    flex-grow: 2;
    /* width: 90%; */
}

circle,svg{

    pointer-events: none;
}

.ddOp1,.ddOp3{

    position: relative;

    top: -8px;
}

.containerMenuTodo{

    position: absolute;
    right: -90px;

    display: flex;
    gap: 13px;

    background-color: var(--backContainerSecond);
    padding: 13px;

    border-radius: 16px;
}

.containerSvgEdit{
    
    border-radius: 5px;
    display: grid;
    place-content: center;
    padding: 4px;

    cursor: pointer;

}
.containerSvgEdit:hover{
    
    background-color: rgba(168, 199, 250, 0.15);

}


.containerSvgDelete{

    border-radius: 5px;
    display: grid;
    place-content: center;
    padding: 5px;

    cursor: pointer;


}
.containerSvgDelete:hover{

    background-color: rgba(179, 38, 30, 0.4);;
}


.containerTodoEdit{

    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);


    display: flex;
    flex-direction: column;
    gap: 30px;

    background-color: var(--backContainerSecond);

    padding: 30px;

    border-radius: 16px;

}

.containerEditName,.containerEditDescription{

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.editName{

    background-color: var(--backContainer);
    width: 100%;

}

.editDescription{

    background-color: var(--backContainer);
    border-radius: 16px;
    outline: none;
    border: none;
}

.containerEditDateAndPriority{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editDate{

    background-color: var(--backContainer);

}

.containerTodoEditPriority{

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--backContainer);
    border-radius: 16px;

    padding: 15px;
}

.containerBtnsCancelSave{

    display: flex;
    justify-content: center;
    gap: 30px;

    color: var(--textDark);
}

.containerBtnCancel{

    display: grid;
    place-items: center;

    background-color: var(--backContainer);
    padding: 5px 0 ;
    width: 100px;

    border-radius: 12px;

    user-select: none;
    cursor: pointer;

}

.containerBtnSave{

    display: grid;
    place-items: center;

    background-color: var(--backContainer);
    padding: 5px 0;
    width: 100px;


    border-radius: 12px;

    user-select: none;
    cursor: pointer;

}

.editDescription{

    height: 120px;

    background-color: var(--backContainer);

    padding: 12px;

    border-radius: 16px;

    border: none;
    outline: none;

    resize: none;
}

.editDropDown{

    bottom: 50px;
}

.editDropDown > :nth-child(1){

    background-color: var(--backContainer);
    
}
.editDropDown > :nth-child(2){

    background-color: var(--backContainer);
    
}
.editDropDown > :nth-child(3){

    background-color: var(--backContainer);
    
}

.containerDeleteConfirmation{

    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background-color: var(--backContainerSecond);
    border-radius: 16px;
    padding: 30px 40px;


}

.btnDel{

    display: grid;
    place-items: center;

    background-color: var(--backContainer);
    border-radius: 12px;
    padding: 5px 0;
    color: var(--textDark);
    width: 100px;

}

.containerBtns{

    display: flex;
    gap: 20px;
    user-select: none;

}

.containerBtns > :nth-child(1){

    background-color:#44445C;
}
.containerBtns > :nth-child(2){

    background-color:rgba(179, 38, 30, 0.4);
    cursor: pointer;
}

.titleDelConfirmation{

    font-size: 1.4rem;
    
}

/* ----------------------------------------------------------- */

/* .containerTodosTodayAndWeek{



    
} */

.todosTodayAndWeek{

    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 400px;
    height: 700px;

    background-color: var(--backContainer);
    border-radius: 16px;
    padding: 30px;
}

.titleTodayAndWeek{

    font-size: 1.5rem;
    margin: 0 0 12px 0;
}

/* 2b2636 */
/* ----------------------------------------------------------- */

.tippy-box[data-theme~='dark-project'] {
    background-color: #332D41;
    color: #E6E1E5;
    border-radius: 16px;
    padding: 5px 20px;
    margin: 10px;
}

.tippy-box[data-theme~='dark-todo'] {
    font-size: .8rem;
    background-color: #332D41;
    color: #E6E1E5;
    border-radius: 16px;
    padding: 5px 20px;
    /* margin: 10px; */
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
}

/* ----------------------------------------------------------- */

.testMorphing{

    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    transform: scale(6);

    cursor: pointer;

}

.ghost > path{

    stroke: transparent;
}

/* .pathDone{

    stroke: transparent;

} */

.svgTodo{

    width: 24px;
    height: 24px;


}
.containerSvgDone{

    width: 24px;
    height: 24px;
}